<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app id="tryToHack-APP">
  <display-name>Try to hack</display-name>
    <servlet>
      <servlet-name>jsp</servlet-name>
      <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
      <init-param>
          <param-name>fork</param-name>
          <param-value>false</param-value>
      </init-param>
      <init-param>
          <param-name>xpoweredBy</param-name>
          <param-value>false</param-value>
      </init-param>
      <init-param>
          <param-name>javaEncoding</param-name>
          <param-value>ISO-8859-1</param-value>
      </init-param>
      <load-on-startup>3</load-on-startup>
  </servlet>
  <listener>
    <listener-class>tryToHackServlet.SessionListener</listener-class>
    <listener-class>tryToHackServlet.ContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>tryToHackServlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>tryToHackServlet.Accueil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>tryToHackServlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>tryToHackServlet.Register</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Testservlet</servlet-name>
    <servlet-class>test.Testservlet</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
 <security-constraint>
		<web-resource-collection>
			<web-resource-name>Wildcard means whole app requires authentication</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>tomcat</role-name>
		</auth-constraint>

		<user-data-constraint>
			<!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
 </security-constraint>
 <login-config>
		<auth-method>BASIC</auth-method>
</login-config>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>
